@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Arvo', serif;
}
.ship {
  width: 120px;
}
.sun {
  width: 640px;
  align-self: flex-start;
  overflow: hidden;

}
.planets {
  list-style-type: none;
}
.planets li img {
  width: 160px;
}
.planets li {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Arvo', serif;
  font-weight: 600;
}
.planets button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
